// Put any @imports here
// See Readme for a list of supported ones

@import "foundation";

body {
  background: #F1F1F1;
}

.top-bar {
  background: #FFFFFF;
  height: 3rem;

  .title-area .name a {
    color: #84878B;
    font-size: 1.1rem;

  }
}

nav {
  border-bottom: 1px solid #E1E3DF;

  .top-bar-section .right {
    height: 25px;

    li {
      margin-left: 15px;
     } 
  }

  .top-bar-section li a:not(.button) {
      background: #FFFFFF !important;
      color: #84878B; 
      font-size: 0.90rem 
  }

  .top-bar-section li a:not(.button):hover {
      background: #FFFFFF !important;
      color: #757575;   
  }

  .top-bar-section ul li.active > a {
      background: #FFFFFF !important;   
  }

  .top-bar-section ul li.active > a:hover {
      background: #757575 !important;   
  }
}



.container {
  width: 100%;
  margin-top: 30px;
}

.list {
  width: 340px;
  height: 540px;
  margin: auto;
  padding: 0 20px 20px 20px;

  h5 {
    padding-bottom: 10px;
    color: #4d4d4d;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E1E3DF;
    margin-bottom: 15px;
    height: 80px;
    width: 300px;

    a {
      color: #AFAFAF;

      p {
        margin-bottom: 0;
        font-size: .9em;
        color: #4d4d4d;
      }
    }
  }

}

.single {
  width: 400px;
  height: 512px;
  margin: auto;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #E1E3DF;
  font-size: 1.1em;

  h5 {
    color: #4d4d4d;
    padding-bottom: 10px;
  }

  div {
    margin-bottom: 5px;

    label {
      display: inline-block;
      font-size: .8em;
    }

    p {
      color: #AFAFAF;
      margin: 0;
      font-size: .8em;
      display: inline-block;
    }
  }

  form {

    label {
      display: inline-block;
      font-size: .8em;

    }

    input {
      box-shadow: none;
      border-radius: 3px;
      background: #FFFFFF;
      color: #AFAFAF;
      font-size: .8em;
    }

    textarea {
      box-shadow: none;
      border-radius: 3px;
      background: #FFFFFF;
      color: #AFAFAF;
      font-size: .8em;
    }

    button {
      padding: 10px 12px 11px 12px;
      border-radius: 3px;
      background-color: #D4D4D4;
      font-size: 16px;
      width: 78px;  
      margin-right: 5px;
    }
  }

}

.new {
  width: 300px;
  height: 500px;
  margin: auto;

  h5 {
    color: #4d4d4d;
  }

  form {

    input {
      box-shadow: none;
      border-radius: 3px;
      background: #FFFFFF;
      font-size: .9em;
      margin-bottom: 10px;
    }

    textarea {
      box-shadow: none;
      border-radius: 3px;
      background: #FFFFFF;
      font-size: .9em;
      margin-bottom: 10px;
    }

    button {
      padding: 10px 12px 11px 12px;
      border-radius: 3px;
      background-color: #D4D4D4;
      font-size: 16px;
      width: 78px;
      margin-right: 5px;
    }
  }
}
