<div class="new">
  <h5>Create A New Ticket</h5>
  <form ng-submit="createTicket(ticket)">
    <input ng-model="ticket.system" placeholder="System">
    <input ng-model="ticket.createdbyname" placeholder="Created By">
    <input ng-model="ticket.createdbyemail" placeholder="Email">
    <input ng-model="ticket.description" placeholder="Description">
    <textarea ng-model="ticket.comments" placeholder="Comments"></textarea>
    <input ng-model="ticket.submissionsstatus" placeholder="Status">
    <button secondary class="radius">Submit</button>
    <button ng-click="backHome()">Back</button>
  </form>
</div>
