<div class="single">
  <h5>{{ ticket.Description }}</h5>

  <form ng-submit="updateTicket(ticket)">
    <p>{{ ticket.Id }}</p>
    <p>{{ ticket.System }}</p>
    <p>{{ ticket.Createdbyname }}</p>
    <label>Comments</label>
    <textarea ng-model="ticket.Comments"></textarea>
    <label>Submission Status</label>
    <input ng-model="ticket.Submissionstatus">
    <p>{{ ticket.Createdbyemail }}</p>
    <button class="button">Update</button>
    <button ng-click="deleteTicket(ticket)">Delete</button>
  </form>
    
  
</div>